# DeltaEssentials Configuration File

###############################################################################

# Should lockdown be enabled on start
StartWithLockdown: False

# Message to display on lockdown
LockdownMessage: 'Server is locked down ... for reasons!'

###############################################################################

# File path to the player data folder
PlayerDataFolder: 'plugins/DeltaEssentials/PlayerData/'

# Default game mode for players who do not have player data
DefaultGameMode: SURVIVAL

# Should the game mode be forced for players on login
ForceDefaultGameMode: False

# Should potion effects be loaded from and saved to player data
LoadAndSavePotionEffects: True

# Game modes that players cannot access without the proper bypass permissions
DisabledGameModes:
  - ADVENTURE
  - SPECTATOR

###############################################################################

# Names of servers that players cannot access without the bypass permission
BlockedServers:
  - SecretServer

###############################################################################

# Channels to share with other servers
# {Channel Name} : {Permission to view}
# If {Permission to view} is "NoPerm", the HeroChat channel on the other
# servers will be used
SharedChatChannels:
  Global: NoPerm
  Secret: Secret.Permission.Name

###############################################################################

# Name of the server where players should be sent when jailed.
JailServer: world

# Names of the jails that exist on the jail server.
ValidJails:
  - Alcatraz
  - Leavenworth

###############################################################################

# Formatting strings
Formats:

  TellLog: '[{0} -> {1}] {2}'
  TellSpy: '[{0} -> {1}] {2}'
  TellSender: '[me -> {0}] {1}'
  TellReceiver: '[{0} -> me] {1}'

###############################################################################

# Debug Mode (for developers)
DebugMode: True
