###############################################################################
# DeltaEssentials Configuration File
###############################################################################

# Should player data be loaded when player joins?
# Some servers may want to set this to false if an authentication plugin
# will tell DeltaEssentials when it is "safe" to load the player data.
LoadPlayerDataOnLogin: True

# Names of servers that a player cannot access without the permission
# that gives them access to this server. By default, all servers not in this
# list are "public" in that players do not need a special permission to join
PrivateServers:
  - SecretServer
  - SuperSecretServer

# Default game mode for players who do not have player data
DefaultGameMode: SURVIVAL

# Should the default game mode be set for all players that don't have
# the bypass permission to ignore this setting?
ForceDefaultGameModeOnJoin: False

# Game modes that players cannot access without the bypass permission
DisabledGameModes:
  - ADVENTURE
  - SPECTATOR

# Should potion effects be ignored when loading and saving to player data?
# Servers may want to set this to false if they do not want potion effects
# to be shared with other servers.
LoadAndSavePotionEffects: True

# Commands run as the player before the player data is saved
# The most common use for this is to remove players from minigames
# that modify player inventories, so that the correct inventories get saved.
PreSaveCommands:
  - leave-minigame

# Formatting strings
Formats:

  FailedToLoadInventory: ''
  FailedToSaveInventory: ''
  PlayerLocked: ''




  NoPermission: '&8[&c!&8] &cFailure &8[&c!&8]&7 You do not have the &f{0}&7 permission.'
  PlayersOnly: '&8[&c!&8] &cFailure &8[&c!&8]&7 Only players can use &f{0}&7'
  PlayerDataNotLoaded: '&8[&c!&8] &cFailure &8[&c!&8]&7 Player data has not been loaded yet.'
  PlayerOffline: '&8[&c!&8] &cFailure &8[&c!&8]&7 Player &f{0}&7 is offline.'
  TooManyAutoCompleteMatches: '&8[&c!&8] &cFailure &8[&c!&8]&7 Multiple online players match &f{0}&7.'
  PlayerLocked: '&8[&c!&8] &cFailure &8[&c!&8]&7 You are locked. Please wait until your data is loaded or saved.'

  MovingToMessage: '&8[&a!&8] &aSuccess &8[&a!&8]&7 Moving to &f{0}&7 ...'
  MovingOtherToMessage: '&8[&a!&8] &aSuccess &8[&a!&8]&7 Moving &f{0}&7 to {1} ...'
  CurrentServer: '&8[&9!&8] &9Info &8[&9!&8]&7 Current server: &f{0}&7'
  OnlineServerList: '&8[&9!&8] &9Info &8[&9!&8]&7 Online Servers: &f{0}&7'
  ServerOffline: '&8[&c!&8] &cFailure &8[&c!&8]&7 Server &f{0}&7 is offline.'
  InputIsCurrentServer: '&8[&c!&8] &cFailure &8[&c!&8]&7 &f{0}&7 is the current server.'
  OtherAlreadyOnServer: '&8[&c!&8] &cFailure &8[&c!&8]&7 &f{0}&7 is already on {1}.'
  BlockedServer: '&8[&c!&8] &cFailure &8[&c!&8]&7 Server &f{0}&7 is blocked for you.'

  SocialSpyUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /socialspy <all|world|none>'
  SocialSpyChange: '&8[&a!&8] &aSuccess &8[&a!&8]&7 SocialSpy set to &f{0}&7'

  DVanishUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /dvanish <on|off>'
  DVanishChange: '&8[&a!&8] &aSuccess &8[&a!&8]&7 DeltaVanish set to &f{0}&7'

  TeleportDenyUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /tpdeny <on|off>'
  TeleportDenyChange: '&8[&a!&8] &aSuccess &8[&a!&8]&7 TeleportDeny set to &f{0}&7'

  LockdownUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /lockdown <on|off>'
  LockdownMessage: 'Server is locked down ... for reasons!'
  LockdownChange: '&8[&a!&8] &aSuccess &8[&a!&8]&7 Lockdown set to &f{0}&7'

  DeltaEssentialsUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /deltaessentials <debug|reload>'
  DeltaEssentialsDebugUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /deltaessentials debug <on|off>'
  DeltaEssentialsDebugChange: '&8[&a!&8] &aSuccess &8[&a!&8]&7 DeltaEssentials debug set to &f{0}&7'
  DeltaEssentialsReloaded: '&8[&a!&8] &aSuccess &8[&a!&8]&7 DeltaEssentials configuration reloaded.'

  TellUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /tell <name> <message>'
  ReplyUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /reply <message>'
  NoReplyTarget: '&8[&c!&8] &cFailure &8[&c!&8]&7 You do not have anyone to reply to.'

  TellLog: '[{0} -> {1}] {2}'
  TellSpy: '&8[&7Spy&8]&7=&8[&7{0} &8-> &7{1}&8] &7{2}'
  TellSender: '&8[&dPM&8]&7=&8[&eMe -> {0}&8] &d{1}'
  TellReceiver: '&8[&dPM&8]&7=&8[&e{0} -> Me&8] &d{1}'

  TeleportUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /tp <name>'
  TeleportRequestUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /tpahere <name>'
  TeleportHereUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /tphere <name>'
  NoPendingTeleportRequest: '&8[&c!&8] &cFailure &8[&c!&8]&7 You do not having a pending teleport request.'
  SentTeleportRequest: '&8[&a!&8] &aSuccess &8[&a!&8]&7 You sent &f{0}&7 a teleport request.'
  ReceivedTeleportRequest: '&8[&a!&8] &aSuccess &8[&a!&8]&7 &f{0}&7 sent you a teleport request. Type /tpaccept to accept within 30 seconds.'

  TeleportingMessage: '&8[&a!&8] &aSuccess &8[&a!&8]&7 Teleporting to &f{0}&7 ...'
  TeleportedToYou: '&8[&9!&8] &9Info &8[&9!&8]&7 &f{0}&7 teleported to you.'
  DeniedTeleport: '&8[&9!&8] &9Info &8[&9!&8]&7 &f{0}&7 was denied a teleport to you.'
  OtherDenyingTeleport: '&8[&c!&8] &cFailure &8[&c!&8]&7 &f{0}&7 is denying teleports.'
  UnsafeLocation: '&8[&c!&8] &cFailure &8[&c!&8]&7 &f{0}&7 is not in a safe location.'

# Debug Mode
Debug: False
