###############################################################################
# DeltaEssentials Configuration File
###############################################################################

# Should lockdown be enabled on start
StartWithLockdown: False

# Should player data be loaded when player joins
# Set to false if the server will have an authentication plugin that will
# tell DeltaEssentials when to load player data
LoadPlayerDataOnLogin: True

# Names of servers that players cannot access without the bypass permission
BlockedServers:
  - SecretServer

# Settings related to game modes
GameModes:

  # Default game mode for players who do not have player data
  Default: SURVIVAL

  # Should the game mode be forced for players on login
  ForceDefault: False

  # Game modes that players cannot access without the proper bypass permissions
  DisabledModes:
    - ADVENTURE
    - SPECTATOR

# Should potion effects be ignored when loading and saving to player data
IgnorePotionEffects: False

# Commands run by the player before switching servers or disconnecting from
# the network (used to remove players from minigames or other activites that
# alter player inventory so that they can restore the actual inventories
# before it is saved by DeltaEssentials)
PreSaveCommands:
  - leave-minigame

###############################################################################

# Formatting strings
Formats:

  NoPermission: '&8[&c!&8] &cFailure &8[&c!&8]&7 You do not have the {0} permission.'
  PlayersOnly: '&8[&c!&8] &cFailure &8[&c!&8]&7 Only players can use {0}'
  PlayerDataNotLoaded: '&8[&c!&8] &cFailure &8[&c!&8]&7 Player data has not been loaded yet.'
  PlayerOffline: '&8[&c!&8] &cFailure &8[&c!&8]&7 {0} is offline.'
  TooManyAutoCompleteMatches: '&8[&c!&8] &cFailure &8[&c!&8]&7 Multiple online players match {0}.'
  PlayerLocked: '&8[&c!&8] &cFailure &8[&c!&8]&7 You are locked. Please wait until your data is loaded or saved.'

  LockdownUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /lockdown <on|off>'
  LockdownMessage: 'Server is locked down ... for reasons!'
  LockdownChange: '&8[&a!&8] &aSuccess &8[&a!&8]&7 Lockdown is {0}.'

  MovingToMessage: '&8[&a!&8] &aSuccess &8[&a!&8]&7 Moving to {0} ...'
  MovingOtherToMessage: '&8[&a!&8] &aSuccess &8[&a!&8]&7 Moving {0} to {1} ...'
  CurrentServer: '&8[&9!&8] &9Info &8[&9!&8]&7 Current server: {0}'
  OnlineServerList: '&8[&9!&8] &9Info &8[&9!&8]&7 Online Servers: {0}'
  ServerOffline: '&8[&c!&8] &cFailure &8[&c!&8]&7 {0} is offline.'
  InputIsCurrentServer: '&8[&c!&8] &cFailure &8[&c!&8]&7 {0} is the current server.'
  OtherAlreadyOnServer: '&8[&c!&8] &cFailure &8[&c!&8]&7 {0} is already on {1}.'
  BlockedServer: '&8[&c!&8] &cFailure &8[&c!&8]&7 {0} is blocked for you.'

  SocialSpyUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /socialspy <on|off>'
  SocialSpyChange: '&8[&a!&8] &aSuccess &8[&a!&8]&7 SocialSpy has been set to {0}.'

  DVanishUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /dvanish <on|off>'
  DVanishChange: '&8[&a!&8] &aSuccess &8[&a!&8]&7 DeltaVanish is {0}.'

  TellUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /tell <name> <message>'
  ReplyUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /reply <message>'
  NoReplyTarget: '&8[&c!&8] &cFailure &8[&c!&8]&7 You do not have anyone to reply to.'

  TellLog: '[{0} -> {1}] {2}'
  TellSpy: '&8[&7Spy&8]&7=&8[&7{0} &8-> &7{1}&8] &7{2}'
  TellSender: '&8[&dPM&8]&7=&8[&eMe -> {0}&8] &d{1}'
  TellReceiver: '&8[&dPM&8]&7=&8[&e{0} -> Me&8] &d{1}'

  TeleportUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /tp <name>'
  TeleportRequestUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /tpahere <name>'
  TeleportHereUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /tphere <name>'
  NoPendingTeleportRequest: '&8[&c!&8] &cFailure &8[&c!&8]&7 You do not having a pending teleport request.'
  SentTeleportRequest: '&8[&a!&8] &aSuccess &8[&a!&8]&7 You sent {0} a teleport request.'
  ReceivedTeleportRequest: '&8[&a!&8] &aSuccess &8[&a!&8]&7 {0} sent you a teleport request. Type /tpaccept to accept within 30 seconds.'

  TeleportDenyUsage: '&8[&9!&8] &9Info &8[&9!&8]&7 /tpdeny <on|off>'
  TeleportDenyChange: '&8[&a!&8] &aSuccess &8[&a!&8]&7 TeleportDeny is {0}.'
  TeleportingMessage: '&8[&a!&8] &aSuccess &8[&a!&8]&7 Teleporting to {0} ...'
  TeleportedToYou: '&8[&9!&8] &9Info &8[&9!&8]&7 {0} teleported to you.'
  DeniedTeleport: '&8[&9!&8] &9Info &8[&9!&8]&7 {0} was denied a teleport to you.'
  OtherDenyingTeleport: '&8[&c!&8] &cFailure &8[&c!&8]&7 {0} is denying teleports.'
  UnsafeLocation: '&8[&c!&8] &cFailure &8[&c!&8]&7 {0} is not in a safe location.'

###############################################################################

# Debug Mode (for developers)
DebugMode: True
